html,body {
 background-color: #ffe3b0 !important;
}
  



  nav {
    background-color:  #286b7e;
    padding: 10px;
    
  }
  
  nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  nav ul li {
    display: inline-block;
    margin-right: 20px;
  }
  
  nav ul li a {
    color: white;
    text-decoration: none;
    padding: 10px;
  }
  
   nav ul li a:hover {
    color: white;
    background-color: #ff6f69;
  }
  
/*logo*/ 
  

    
.logo {
  float: left; 
  margin-right: 20px;
  width: 100px;
}


  .title {
    text-align: center;
  }

  
  .title h1 {
    font-size: 48px;
    font-family: sans-serif ;
  
  }

  .title h2 {
    font-size: 24px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: rgb(4, 30, 48);
  }
  
  

  .paragraph-container {
    margin: 20px;
    padding: 10px;
    border: 1px solid #ffe3b0;
    border-radius: 20px;
  }
  
  p {
    font-size: 18px;
    line-height: 1.5;
    color :rgb(4, 30, 48) ; 
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  }






  .image-container {
  display: flex;
  justify-content: space-between;
  
}

.image-wrapper {
  width: 30%;
}

img {
  width: 100%;
  border-radius: 20px;
  transition: transform 0.3s ease;
}

p {
  margin-top: 10px;
  text-align: center;

}





.image-container2 {
  display: flex;
  justify-content: space-between;
}

.image-wrapper2 {
  width: 30%;
}

img {
  width: 100%;
  border-radius: 20px;
  transition: transform 0.3s ease;
}

p {
  margin-top: 10px;
  text-align: center;
}




#more-content {
  display:block;
  margin-top: 20px;
 
}

.parent-btn {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  
}





.image-container3 {
  display: flex;
  justify-content: space-between;
}

.image-wrapper3 {
  width: 30%;
}

img {
  width: 100%;
  border-radius: 20px;
  transition: transform 0.3s ease;
}
img:hover {
  transform: scale(1.1); 
  }




p {
  margin-top: 10px;
  text-align: center;
}




.book-a-trip {
  
  padding: 20px;
  color: white;
  text-align: center;
  background-image: url('bluu.webp');
  background-repeat: no-repeat;
  background-size: cover;
}
.book-a-trip input[type="text"], .book-a-trip input[type="date"], .book-a-trip input[type="number"] {
  width: 80%;
  padding: 10px;
  margin: 10px 0;
  border: none;
  border-radius: 5px;
  font-size: 16px;
}
.book-a-trip button {
  background-color: rgb(189, 117, 84);
  color: rgb(4, 30, 48);
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
}









.contactus {
display: block;
  }





  *{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Quicksand', sans-serif;
  }
  
  body{
    height: 100vh;
    width: 100%;
  }
  
  .container{
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 100px;
  }
  
  .container:after{
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background: url("img/bg.jpg") no-repeat center;
    background-size: cover;
    filter: blur(50px);
    z-index: -1;
  }
  .contact-box{
    max-width: 850px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: #fff;
    box-shadow: 0px 0px 19px 5px rgba(0,0,0,0.19);
  }
  
  .left{
    background: url("img/bg.jpg") no-repeat center;
    background-size: cover;
    height: 100%;
    padding: 25px 40px;
  }
  
  .right{
    padding: 25px 40px;
  }
  
  h2{
    position: relative;
    padding: 0 0 10px;
    margin-bottom: 10px;
  }
  
  h2:after{
    content: '';
      position: absolute;
      left: 50%;
      bottom: 0;
      transform: translateX(-50%);
      height: 4px;
      width: 50px;
      border-radius: 2px;
      background-color: #2ecc71;
  }
  
  .field{
    width: 100%;
    border: 2px solid rgba(0, 0, 0, 0);
    outline: none;
    background-color: rgba(230, 230, 230, 0.6);
    padding: 0.5rem 1rem;
    font-size: 1.1rem;
    margin-bottom: 22px;
    transition: .3s;
  }
  
  .field:hover{
    background-color: rgba(0, 0, 0, 0.1);
  }
  
  textarea{
    min-height: 150px;
  }
  
  .btn{
    width: 100%;
    padding: 0.5rem 1rem;
    background-color: #2ecc71;
    color: #fff;
    font-size: 1.1rem;
    border: none;
    outline: none;
    cursor: pointer;
    transition: .3s;
  }
  
  .btn:hover{
      background-color: #27ae60;
  }
  
  .field:focus{
      border: 2px solid rgba(30,85,250,0.47);
      background-color: #fff;
  }
  
  @media screen and (max-width: 880px){
    .contact-box{
      grid-template-columns: 1fr;
    }
    .left{
      height: 200px;
    }
  }



